@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
   --foreground: #171717;  */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; 
     --foreground: #ffffff; */
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.buy-ticket{
  font-size: 22px;
  font-weight: 900;
}

.main-heading{

    font-family: "Notable", serif;
    font-weight: 400;
    font-style: normal; 
}

.main-2025{

    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
}

.main-desc{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.main-count{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900; 
  font-style: normal;
}

.main-btn{
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

.main-bottom-h3{
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.video-heading{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  line-height: 100px;
  margin-left: 15%;
  margin-top: 12%;
  font-style: italic;
}

.newsdiv{
  position: absolute;
  z-index: 10;
}

.news-heading{
  font-family: "Seymour One", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.news-title{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.news-date{
  font-family: "Nova Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.footer-font{
  font-family: "Seymour One", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.footer-nav{
  position: relative;
  top: 80px;
}

.navbar-subnav{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.menu-nav{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
